* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
}
/* Forsiden */

/* Pladsen til logoet */
.logo_on_top {
  top: 0;
  z-index: -25;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: clip;
  background-color: white;
  height: 130px;
}

/* NAVIGATIONS BAREN */
.navbar {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: 600;
  z-index: 2;
  width: 100%;
  background: #589600;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

  position: relative;
}
.navrow {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.navbar_container {
  display: flex;
  height: 60px;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  position: relative;
  left: 5px;
}

.navbar_menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
}

.navbar_item {
  height: 80px;
}

/* Logo */
#navbarlogo {
  width: 150px;
  mix-blend-mode: multiply;
}

.navbar_links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 2rem;
  height: 100%;
}
/* SIGN UP KNAPPEN */
.navbar_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
  height: 100%;
  list-style: none;
}
.buttons_container {
  height: 60px;
  width: 100%;
}
.navbar_buttons {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: right;
  text-decoration: none;
  height: 100%;
  width: 200px;
  list-style: none;
  float: right;
}
.button_one {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 5px 10px;
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
}
.button_two {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 5px 10px;
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
}

/* HOVER FFEKT PÅ SIGN UP KNAPPEN */
.button_one:hover {
  color: #ffcc56;
  transition: all 0.4s ease;
}

.button_two:hover {
  color: #ffcc56;
  transition: all 0.4s ease;
}

/* HOVER EFFEKT PÅ NAVIGATIONS LINKS */
.navbar_links:hover {
  color: #ffcc56;
  transition: all 0.4s ease;
}
/* BIG PICTURE STARTER */
.big_picture_container {
  display: inline-block;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  z-index: 1;
  overflow: hidden;
}
.big_picture_lb {
  z-index: 2;
  position: absolute;
  text-align: center;
  width: 100%;
  margin: auto;
  top: 0;
  bottom: 0;
  right: auto;
  left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  margin-left: 28%;
  overflow-y: hidden;
}
.big_picture_container .big_picture {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.big_picture_logo {
  width: 20%;
  height: 60%;
  z-index: 2;
  object-fit: cover;
}
.big_picture_button button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #589600;
  background: transparent;
  color: black;
  cursor: pointer;
  z-index: 2;
  object-fit: cover;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.whitebackground {
  height: 2800px;
  background-color: #6d6b6b;
  z-index: 1;
}

/*Logo on nav bar on scroll */
.logobtn {
  display: flex;
  height: 60px;
  z-index: 2;
  width: 100%;
  margin: 0 auto;
  flex: content;
  justify-content: center;
  align-items: center;
}
#logoBtn {
  position: relative;
  display: grid;
  border: none;
  outline: none;
  place-items: center;
}
#logoBtn img {
  height: 50px;
  object-fit: cover;
}
/*Logo on nav bar on scroll slut */

/* Scrool To Top */
#myBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  height: 50px;
  width: 50px;
  display: grid;
  border: none;
  outline: none;
  place-items: center;
  border-radius: 50%;
  background: #589600;
  box-shadow: 0 0 10px rgba(0, 255, 55, 0.05);
  cursor: pointer;
  z-index: 2;
}
#myBtn:hover {
  background-color: #c7711e;
}
/* Scroll To Top slut */
/* Footer Start */
footer .containerfooter {
  max-width: 100%;
  margin: 15px auto;
  margin-bottom: 15px;
}
.rowfooter {
  display: flex;
  flex-wrap: wrap;
}
footer ul {
  list-style: none;
}
.footer {
  background-color: #141414;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #c7711e;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #ffcc56;
  padding-left: 8px;
}
.footer-col .footersocials a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footersocials ul p {
  color: #fff;
}
.footersocials ul img {
  height: 80px;
  width: auto;
  padding-bottom: 10px;
  padding-top: 20px;
}
.footer-col .footersocials a:hover {
  color: #24262b;
  background-color: #ffffff;
}
/* Footer Slut */
